.search {
  @apply absolute z-30 top-0 -left-36 flex items-center w-36 h-full duration-200 max-md:w-full;
  transition: left 0.3s ease;

  &.open {
    @apply left-0;
  }
}

.main::-webkit-scrollbar {
  width: 0;
}

.main {
  @apply flex-1 w-full h-full bg-white overflow-y-scroll p-6;
}

.search::-webkit-scrollbar {
  width: 0;
}

.input {
  @apply w-full mb-8;

  & input {
    @apply border-2;
  }
}

.inputKM {
  @apply flex items-center;

  & label {
    @apply hidden;
  }

  & span {
    @apply text-2xl font-bold;
  }

  & input {
    @apply w-28 mr-6 border-2;
  }
}

.title {
  @apply text-3xl font-semibold mb-4;
}

.wrapper {
  @apply h-36 mb-4 border-2 border-solid border-gray-400 rounded-2xl overflow-hidden overflow-y-scroll;
}

.item {
  @apply flex items-center p-4 hover:bg-slate-300 cursor-pointer;

  .ico {
    @apply size-12 rounded-full mr-6;
  }

  .name {
    @apply text-2xl font-semibold;
  }
}

.close {
  @apply bg-white w-12 h-20 rounded-r-2xl;
}
